<html>

    <head>
        <title>SatTrack</title>
    </head>

    <body>
        <h2>Welcome to SatTrack!</h2>
        <p>
            Endpoints:

            <ul>
                <li>
                    <a href="/api/iss">/api/iss</a>
                </li>
                <li>
                    <a href="/api/topview">/api/topview</a>
                </li>
                <li>
                    <a href="/api/active">/api/active</a>
                </li>
                <li>
                    <a href="/api/stations">/api/stations</a>
                </li>
                <li>
                    <a href="/api/starlink">/api/starlink</a>
                </li>
                <li>
                    <a href="/api/issOrbit">/api/issOrbit</a>
                </li>
                <li>
                    <a href="/api/orbitOverlap">/api/orbitOverlap</a>
                </li>
            </ul>
        </p>
    </body>

</html>